{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}
    Category: {{ category }}
{% endblock title %}

{% block body %}
    <h1>Category: {{ category }}</h1>
    {% for listing in category_listings %}
        <div class="card mx-2 my-2" style="width: 16rem;">
            
            {% if listing.photo %}
                <img src="{{ listing.photo }}" class="card-img-top" alt="{{ listing.title }}"  style="height: 15rem; object-fit: contain;">
            {% else %}
                <img src="{% static 'auctions/default_item_image.jpg' %}" class="card-img-top" alt="{{ listing.title }}" style="height: 15rem;">
            {% endif %}
            
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description | slice:":25"}}...</p>
                <h6>${{ listing.price }}</h6>
                <a href="{% url 'listing_details' listing.pk %}" class="btn btn-primary">Details</a>
                <form action="{% url 'toggle_watchlist' listing.pk %}" method="post">
                    {% csrf_token %}
                    {% if listing.in_watchlist %}
                        <button type="submit" class="btn btn-danger mb-3 ml-3"><i class="bi bi-heart-fill"></i></button>
                    {% else %}
                        <button type="submit" class="btn btn-warning mb-3 ml-3"><i class="bi bi-heart"></i></button>
                    {% endif %}
                </form>
            </div>
        </div>
    {% empty %}
        Nothing in this category yet.
    {% endfor %}

    <div>
        <a href="{% url 'all_categories' %}" class="btn btn-primary my-3">Back to Categories</a>
    </div>
{% endblock body %}